<!-- <button (click)="openSnackBar('hombre')">Read widths from persistentState</button> -->

<div class="container">
    <div class="container-table" (contextmenu)="onRightClick($event)">
        <hot-table
            id="handson"
            [data]="dataset"
            [manualColumnMove]="manualColumnMove"
            [colHeaders]="true"
            [rowHeaders]="true"
            [persistentState]="true"
            [manualColumnResize]="true"
            [hotId]="id"
            [height]="customHeight"
            licenseKey="non-commercial-and-evaluation"
            #handson
        >
            <hot-column
                *ngFor="let column of columnNames; let rowIndex"
                data="{{ column }}"
                title="{{ column }}"
                [readOnly]="true"
            >
            </hot-column>
        </hot-table>
    </div>

    <div class="container-button">
        <div class="item">
            <button mat-mini-fab color="primary" (click)="addMovie()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="item">
            <mat-paginator
                [length]="4805"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page"
                showFirstLastButtons
                (page)="pageEvent($event)"
            >
            </mat-paginator>
        </div>
    </div>
</div>

<div
    style="visibility: hidden; position: fixed"
    [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y"
    [matMenuTriggerFor]="rightMenu"
></div>

<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button
            *ngFor="let option of menuOptions"
            mat-menu-item
            (click)="onMenuOptionSelected(option)"
        >
            {{ option }}
        </button>
    </ng-template>
</mat-menu>

<ngx-spinner
    [bdColor]="'rgba(0, 0, 0, 0.2)'"
    size="large"
    color="#368DCE"
    type="ball-scale"
    [fullScreen]="false"
    name="moviesSpinner"
>
</ngx-spinner>
