mat-form-field {
    margin: 5px;
}

.row-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.row-content-center {
    display: flex;
    justify-content: left;
}

.row-content mat-form-field {
    flex: 1;
}
